/* This is a CSS style for homepage */

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('travel.jpg');
    background-size: 100%;
    
    

}







.navigation_bar{
display:flex;
background-color: rgba(64, 65, 66, 0.9);

}

.nav_bar_item{
    flex:1;

}

.nav_bar_item .navigation ul{
list-style:none;
padding-left: 5%;
}
.nav_bar_item .navigation ul li{
   display: inline-flex;
   margin-left: 14%;
   
    }
.nav_bar_item .navigation ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: large;
        font-weight: bold;
        
       
        }
        .nav_bar_item .navigation ul li a:hover{
           color:rgba(0, 194, 243,1) ;
           font-size: larger;
            
           
            }       

.nav_bar_item .search_bar{
   margin-top:2% ;
   background-color: rgba(248, 245, 245, 0.8);
   display:flex;
   
   padding-bottom: 1%;
   margin-bottom: 1%;
   border-radius: 11px;
   
 

}
.nav_bar_item .search_bar .search_input {
flex-basis: 60%;
margin-left: 5%;
margin-right: 5%;
outline: none;
color: rgb(0, 0, 0);
background: none;
border: 0px solid rgba(77, 105, 243, 0.8);
border-bottom: 1px solid rgba(94, 201, 228, 0.8);
border-image-width: 0%;
}

.nav_bar_item .search_bar .search_input::placeholder{
    color: rgb(0, 0, 0);
}

.nav_bar_item .search_bar .search_button {
    flex-basis: 11%;
    margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
border-radius: 5px;
border: 0px solid red;
background-color: rgba(94, 201, 228, 0.8);
color:white;
padding: 1%;

}
.nav_bar_item .search_bar .search_button:hover {
background-color: rgb(7, 110, 136);
}


.nav_bar_item .search_bar .clear_button {
    flex-basis: 11%;
    margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
border-radius: 5px;
border: 0px solid red;
background-color: rgba(94, 201, 228, 0.8);
color:white;

padding: 1%;
}

.nav_bar_item .search_bar .clear_button:hover {
    background-color: rgb(7, 110, 136);;
    }

.home {
    display:flex;
    background-color: rgb(99, 96, 96,.6);
   
}
.home .row1{
flex-basis:8% ;
padding-top: 3%;

}
.home .row1 div{
    margin-top: 5%;
    
    
    }


.home .row2{
    flex-basis:52% ;
   
    
    }

    .home .row2 .home_website_header{
        color:white;
        margin-top: 18%;
        font-size: larger;

    }
    .home .row2 .home_website_detail{
        color:white;
        margin-top: 5%;;
        margin-left: 1%;
        font-size:large;

    }
    .home .row2 .home_website_bookmow_button input{
 background-color: rgb(0, 194, 243);
 margin-right: 2%;
 margin-top: 1%;
 border-radius: 2%;
 border: 0px solid red;
 background-color: rgba(94, 201, 228, 0.8);
 color:white;
 width: 15%;
 
 padding: 1%;
 margin-bottom: 39%;
 border-radius: 7px;
    }

    .home .row2 .home_website_bookmow_button input:hover{
        background-color: rgb(7, 110, 136);
        outline: auto;
        
           }


.home .row3{
        flex-basis:40% ;
        
        } 
.home .row3 div {
    background-color: rgba(64, 65, 66, 1);
    margin-left: 2%;
    
    border-radius: 4px;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    margin-top: 2%;

}
.home .row3 h3 {
    color: rgb(254, 254, 255);
    
    

}
.home .row3 h2 {
    color: rgb(254, 254, 255);
 
}

.home .row3 .results {
    background-color: rgba(64, 65, 66, 0);
    height: 90vh;
    overflow: auto;
    

}


.home .row3 img {
 width: 100%;
 height: auto;
}

.home .row3 p {
 color: rgb(255, 255, 255);
 padding-bottom: 2%;
background-color: rgba(64, 65, 66, 0)

}



/* This is a CSS style for about us */
.aboutus {
    display:flex;
    background-color: rgb(99, 96, 96,.6);
   
}
.aboutus .row1{
flex-basis:8% ;
padding-top: 3%;

}
.aboutus .row1 div{
    margin-top: 5%;
    
    
    }


.aboutus .row2{
    flex-basis:80% ;
   
    
    }

    .aboutus .row2 .about_us_header{
        color:white;
        
        font-size: larger;

    }
    .aboutus .row2 .about_us_detail{
        color:white;
        margin-top: 5%;;
        margin-left: 1%;
        font-size:large;
        background-color: rgba(64, 65, 66, 0.8);

    }
    

    .aboutus .home_website_team_detail{
        margin-top: 7%;
        padding-bottom: 25%;
        display: flex;
    }
    .aboutus .home_website_team_detail .our_team {
        flex-basis: 50%;
        border: 1px solid red;
     }
     .aboutus .home_website_team_detail .our_team h1{
        color: white;
     }

    .aboutus .home_website_team_detail .team_members {
        flex-basis: 50%;
        display: flex;
        margin-left:6%;
    }
    .aboutus .home_website_team_detail .team_members h3,p {
        color: white;
    }
   
    .aboutus .home_website_team_detail .team_members h2 {
        color: rgb(3, 21, 70);
    }
    
    .aboutus .home_website_team_detail .team_members .person1{
        flex-basis: 30%;
        border-radius: 5px;
        margin-left: 5%;
        background-color: rgba(64, 65, 66, 0.8);
    }
    .aboutus .home_website_team_detail .team_members .person2{
        flex-basis: 30%;
        background-color: rgba(64, 65, 66, 0.8);
        margin-left: 5%;
        border-radius: 5px;
    }
    .aboutus .home_website_team_detail .team_members .person3{
        flex-basis: 40%;
        background-color: rgba(64, 65, 66, 0.8);
        margin-left: 5%;
        border-radius: 5px;
    }
    .aboutus .home_website_team_detail .team_members  .role{
        background-color: rgb(6, 60, 104);
        border: 10px;
        
    }

    .contactus {
        display:flex;
        background-color: rgb(99, 96, 96,.6);
        padding-bottom: 30%;
    }
    .contactus .row1{
    flex-basis:8% ;
    padding-top: 3%;
    
    }
    .contactus .row1 div{
        margin-top: 5%;
        
        
        }
    
    
    .contactus .row2{
        flex-basis:80% ;
       
        
        }

    .contactus .row2 {
        
    display: flex;
    margin-top: 10%;
    }

    .contactus .row2 .header{
       flex-basis: 40%;
       
        
     }
     .contactus .row2 .header h1{
        margin-left: 51%;
        color: white;
         
      }

      .contactus .row2 .contact_us{
    flex-basis: 60%;
    background-color: rgba(64, 65, 66, 0.8);
    padding-left: 1%;
    padding-top: 1%;
            
        }
        .contactus .row2 .contact_us label{
            color: white;
            
                 
                }

    .contactus .row2 .contact_us input{
        outline: none;
        border:0px red solid;
        border-bottom: 1px rgba(0, 194, 243,1) solid;
        width: 50%;
        height: 30px;
        background-color: rgba(0, 194, 243,0);
                
            }

            .contactus .row2 .contact_us textarea{
                width: 50%;
            }
            .contactus .row2 .contact_us button{
                outline: none;
                border:0px red solid;
                border-radius: 5px;
                width: 50%;
                height: 30px;
                background-color: rgba(9, 82, 100, 1);
                margin-top: 2%;
                 color: white  ;     
                    }


 