html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('travel.jpg');
    background-size: 100%;

}
.navigation_bar{
display:flex;
background-color: rgba(64, 65, 66, 0.8);

}

.nav_bar_item{
    flex:1;

}

.nav_bar_item .navigation ul{
list-style:none;
padding-left: 5%;
}
.nav_bar_item .navigation ul li{
   display: inline-flex;
   margin-left: 14%;
   
    }
.nav_bar_item .navigation ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: large;
        font-weight: bold;
        
       
        }

.nav_bar_item .search_bar{
   margin-top:2% ;
   background-color: rgba(255, 255, 255,.8);
   display:flex;
   
   padding-bottom: 1%;
   margin-bottom: 1%;
 

}
.nav_bar_item .search_bar .search_input {
flex-basis: 60%;
margin-left: 5%;
margin-right: 5%;
outline: none;
background: none;
border: 0px solid rgba(77, 105, 243, 0.8);
border-bottom: 1px solid rgba(77, 105, 243, 0.8);
border-image-width: 0%;
}
.nav_bar_item .search_bar .search_button {
    flex-basis: 11%;
    margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
border-radius: 2%;
border: 0px solid red;
background-color: rgba(77, 105, 243, 0.8);
border-radius: 15%;
padding: 1%;

}

.nav_bar_item .search_bar .clear_button {
    flex-basis: 11%;
    margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
border-radius: 2%;
border: 0px solid red;
background-color: rgba(77, 105, 243, 0.8);
border-radius: 15%;
padding: 1%;
}

.home {
    display:flex;
   
}
.home .home_website_detail{
flex-basis:5% ;

}

.home .home_website_detail{
    flex-basis:5% ;
    
    }

.home .home_website_detail{
        flex-basis:5% ;
        
        }  